<div class="row" id="affiliations-logos">
    <div class="col-3">
        <div class="logo-wrap">
          <span class="helper"></span>
          <a href="//https://www.cit.tum.de/en/cit/home/" target="_blank"><img src="{{site.baseurl}}/assets/img/logos/tum.png"></a>
        </div>
        <div class="logo-desc">
          TUM School of CIT<br />
          2023 - Present
        </div>
      </div>

    <div class="col-3">
      <div class="logo-wrap">
        <span class="helper"></span>
        <a href="//www.amazon.science" target="_blank"><img src="{{site.baseurl}}/assets/img/logos/amazon.png"></a>
      </div>
      <div class="logo-desc">
        AWS AI Labs<br />
        2022 - 2023
      </div>
    </div>
  
    <div class="col-3">
      <div class="logo-wrap">
        <span class="helper"></span>
        <a href="//www.comp.nus.edu.sg/" target="_blank"><img src="{{site.baseurl}}/assets/img/logos/nus.jpg"
            alt="NUS Logo"></a>
      </div>
      <div class="logo-desc">
        NUS School of Computing<br />
        2018 - 2019
      </div>
    </div>
  
    <div class="col-3">
      <div class="logo-wrap">
        <span class="helper"></span>
        <a href="//www.tum.de" target="_blank"><img src="{{site.baseurl}}/assets/img/logos/tum.png"></a>
      </div>
      <div class="logo-desc">
        TUM Department of Informatics<br />
        2016 - 2022
      </div>
    </div>
  </div>